
html, body {
    overflow: hidden;
    margin: 0px;
}

/*  div = editor
    맨 바깥 div */
#editor-container {
    margin: 0px;
    height: 100%;
    width: 100%;
}

/*  편집 도구 */
#tools {
    height: 110px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #d9d9d9;;
}

#name {
    margin-left: 1%;
    margin-bottom: 0px;
    height: 60px;
}

#tool {
    margin-left: 1%;
    height: 40px;
}


/*  슬라이드 table */
table#panels {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-color: gray;
    border-spacing: 2px;

}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
}

/*  td filmstrip 슬라이드 미리보기 */
td.filmstrip {
    vertical-align: top;
    position: relative;
    white-space: nowrap;
    border-right: 1px solid #d9d9d9;
}

/*  td filmstrip 안의 svg 를 감싸는 div */
div#filmstrip {
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    vertical-align: top;

}

/*  슬라이드 본문 */
td#canvas-view {
    vertical-align: top;
    position: relative;
    overflow: hidden;
    height: 100%;
}

#editor {
    margin: 1%;
    position: absolute;
    overflow: hidden;
    border: 1px solid #000000;
}

.mouse-in {
    background-color: #d9d9d9;
}

.click {
    background-color: rgb(150, 150, 150);
}

.tool-icon {
    max-height: 30px;
}